openapi: 3.1.0
info:
  title: Grapes Knowledge Base Agents Datasets API
  description: The Grapes API allows you to automate recurring operations on the Grapes knowledge management platform, including project administration, agent configuration, and dataset import/export. The API follows HATEOAS principles for link management between resources.
  version: 1.0.0
  contact:
    name: Grapes Support
    url: https://docs.data-grapes.com/en/
servers:
- url: https://api.data-grapes.com
  description: Grapes Production API (placeholder; see official docs)
security:
- BearerAuth: []
tags:
- name: Datasets
  description: Import and export datasets
paths:
  /datasets:
    get:
      tags:
      - Datasets
      summary: List datasets
      responses:
        '200':
          description: A list of datasets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dataset'
  /datasets/{datasetId}/export:
    get:
      tags:
      - Datasets
      summary: Export dataset
      parameters:
      - name: datasetId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Dataset export payload
          content:
            application/json:
              schema:
                type: object
  /datasets/import:
    post:
      tags:
      - Datasets
      summary: Import dataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Dataset imported
components:
  schemas:
    Dataset:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        format:
          type: string
          enum:
          - json
          - csv
          - xml
        size:
          type: integer
        projectId:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
externalDocs:
  description: Grapes API Reference
  url: https://docs.data-grapes.com/en/docs/developer-docs/api/api-reference/
