openapi: 3.1.0
info:
  title: Grapes Knowledge Base Agents Projects API
  description: The Grapes API allows you to automate recurring operations on the Grapes knowledge management platform, including project administration, agent configuration, and dataset import/export. The API follows HATEOAS principles for link management between resources.
  version: 1.0.0
  contact:
    name: Grapes Support
    url: https://docs.data-grapes.com/en/
servers:
- url: https://api.data-grapes.com
  description: Grapes Production API (placeholder; see official docs)
security:
- BearerAuth: []
tags:
- name: Projects
  description: Create and customize Grapes projects
paths:
  /projects:
    get:
      tags:
      - Projects
      summary: List projects
      responses:
        '200':
          description: A list of projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
    post:
      tags:
      - Projects
      summary: Create project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '201':
          description: Project created
  /projects/{projectId}:
    get:
      tags:
      - Projects
      summary: Get project
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
components:
  schemas:
    Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        _links:
          type: object
          additionalProperties:
            type: object
            properties:
              href:
                type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
externalDocs:
  description: Grapes API Reference
  url: https://docs.data-grapes.com/en/docs/developer-docs/api/api-reference/
